<mat-drawer-container class="sport-clubs-container" autosize>
  <mat-drawer
    #drawer
    [opened]="(isScreenSmall$ | async) === false"
    [mode]="(isScreenSmall$ | async) ? 'over' : 'side'"
    class="sidenav">
    <mat-nav-list class="sport-clubs-list">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="map-content">
    <ng-container *ngIf="clubs$ | async as clubs; else loader">
      <app-map [clubs]="clubs"></app-map>
      <button mat-button (click)="drawer.toggle()" class="button-drawer">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>
    <ng-template #loader>
      <mat-spinner class="map-spinner"></mat-spinner>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
