<mat-toolbar color="primary">
  <h2 mat-dialog-title>Add Club</h2>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field appearance="fill">
      <mat-label>Club Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Categories</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Club Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">
    <mat-icon>edit</mat-icon>
    Save
  </button>
  <button mat-button color="warn" (click)="dismiss()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
