<div *ngIf="selectedClub$ | async as selectedClub">
  <app-toolbar [title]="selectedClub.name">
    <button
      (click)="openFormDialog(selectedClub)"
      mat-menu-item
    >Edit Club</button>
    <button
      (click)="openWarningDialog(selectedClub.id)"
      mat-menu-item
    >Delete Club</button>
    <button
      mat-menu-item
    ><a class="mat-menu-content-link" routerLink="">Return</a></button>
  </app-toolbar>
  <mat-card class="mat-elevation-z">
    <mat-card-title class="mat-card-margin-bottom-20">category: {{ selectedClub.category }}</mat-card-title>
    <mat-card-subtitle>{{ selectedClub.localization.place_name }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ selectedClub.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

