<div *ngIf="selectedClub$ | async as selectedClub">
  <app-toolbar [title]="selectedClub.name">
    <button
      (click)="openFormDialog(selectedClub)"
      mat-menu-item
    >
      <mat-icon>mode_edit_outline</mat-icon>
      Edit Club
    </button>
    <button
      (click)="openWarningDialog(selectedClub.id)"
      mat-menu-item
    >
      <mat-icon>delete</mat-icon>
      Delete Club
    </button>
    <button
      mat-menu-item
      (click)="return()"
    >
      <mat-icon>chevron_left</mat-icon>
      Return
    </button>
  </app-toolbar>
  <mat-card class="mat-elevation-z">
    <mat-card-title class="mat-card-margin-bottom-20">category: {{ selectedClub.category }}</mat-card-title>
    <mat-card-subtitle>{{ selectedClub.localization.place_name }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ selectedClub.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

