@import '../../../../styles/mixins';

.clubs-wrapper {
  padding: 16px;
}

.close-drawer-button {
  display: none;

  @include md {
    display: block;
  }
}

.mat-spinner-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 20%;
}
