/* You can add global styles to this file, and also import other style files */

$primary-background: #673ab7;
$primary-color: rgba(0, 0, 0, 0.87);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-table {
  width: 100%;
}

.mat-row {
  &:hover {
    background: lighten($primary-background, 40%);
    cursor: pointer;

    .mat-cell,
    .mat-footer-cell {
      color: #fff;
    }
  }

  &.highlighted {
    background: lighten($primary-background, 20%);

    .mat-cell,
    .mat-footer-cell {
      color: #fff;
      cursor: pointer;
    }
  }
}

.mat-form-field {
  width: 100%;
}

.mat-toolbar {
  margin-bottom: 20px;
}

.custom-dialog-container .mat-dialog-container {
  width: 500px;
}

.filter-wrapper {
  .mat-form-field-flex {
    padding: 0 20px;
  }
}

.mat-menu-content-link {
  color: $primary-color;
  text-decoration: none;
  display: block;
}

textarea.mat-input-element {
  height: 200px;
  line-height: 1.4;
}

.mat-menu-panel.mat-toolbar-menu {
  padding: 0;
  min-height: 0;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }
}
