/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

.mat-row {
  &:hover {
    background: #eee;
  }

  &.highlighted {
    background: #999;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-toolbar {
  margin-bottom: 20px;
}
